In [4]:
import pandas as pd
import numpy as np

In [5]:
list1 = []
for x in range(5):
    a = []
    for y in range(10):
        a.append(y)
    list1.append(a)
b = pd.DataFrame(list1)
b

   0  1  2  3  4  5  6  7  8  9
0  0  1  2  3  4  5  6  7  8  9
1  0  1  2  3  4  5  6  7  8  9
2  0  1  2  3  4  5  6  7  8  9
3  0  1  2  3  4  5  6  7  8  9
4  0  1  2  3  4  5  6  7  8  9

In [13]:
a = pd.read_csv("data2.csv")
b = a.dropna() #เอาบรรทัดที่ว่างออก
b

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [14]:
a = pd.read_csv("data2.csv")
a.dropna(inplace = True) #เอาบรรทัดที่ว่างออก
a

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [15]:
a = pd.read_csv("data2.csv")
a.fillna("Hello",inplace = True) #เเทนที่บรรทัดที่ว่างด้วย Hello
a

    Duration          Date  Pulse  Maxpulse Calories
0         60  '2020/12/01'    110       130    409.1
1         60  '2020/12/02'    117       145    479.0
2         60  '2020/12/03'    103       135    340.0
3         45  '2020/12/04'    109       175    282.4
4         45  '2020/12/05'    117       148    406.0
5         60  '2020/12/06'    102       127    300.0
6         60  '2020/12/07'    110       136    374.0
7        450  '2020/12/08'    104       134    253.3
8         30  '2020/12/09'    109       133    195.1
9         60  '2020/12/10'     98       124    269.0
10        60  '2020/12/11'    103       147    329.3
11        60  '2020/12/12'    100       120    250.7
12        60  '2020/12/12'    100       120    250.7
13        60  '2020/12/13'    106       128    345.3
14        60  '2020/12/14'    104       132    379.3
15        60  '2020/12/15'     98       123    275.0
16        60  '2020/12/16'     98       120    215.2
17        60  '2020/12/17'    100       120    300.0
18        45  '2020/12/18'     90       112    Hello
19        60  '2020/12/19'    103       123    323.0
20        45  '2020/12/20'     97       125    243.0
21        60  '2020/12/21'    108       131    364.2
22        45         Hello    100       119    282.0
23        60  '2020/12/23'    130       101    300.0
24        45  '2020/12/24'    105       132    246.0
25        60  '2020/12/25'    102       126    334.5
26        60      20201226    100       120    250.0
27        60  '2020/12/27'     92       118    241.0
28        60  '2020/12/28'    103       132    Hello
29        60  '2020/12/29'    100       132    280.0
30        60  '2020/12/30'    102       129    380.3
31        60  '2020/12/31'     92       115    243.0

In [16]:
a = pd.read_csv("data2.csv")
a.fillna(100 ,inplace = True) #เเทนที่บรรทัดที่ว่างด้วย 100
a

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     100.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           100    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     100.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [19]:
a = pd.read_csv("data2.csv")
a["Calories"].fillna("Hello",inplace = True) #เเทนที่บรรทัดที่ว่างด้วย Hello ในคอลัม Calories
a

    Duration          Date  Pulse  Maxpulse Calories
0         60  '2020/12/01'    110       130    409.1
1         60  '2020/12/02'    117       145    479.0
2         60  '2020/12/03'    103       135    340.0
3         45  '2020/12/04'    109       175    282.4
4         45  '2020/12/05'    117       148    406.0
5         60  '2020/12/06'    102       127    300.0
6         60  '2020/12/07'    110       136    374.0
7        450  '2020/12/08'    104       134    253.3
8         30  '2020/12/09'    109       133    195.1
9         60  '2020/12/10'     98       124    269.0
10        60  '2020/12/11'    103       147    329.3
11        60  '2020/12/12'    100       120    250.7
12        60  '2020/12/12'    100       120    250.7
13        60  '2020/12/13'    106       128    345.3
14        60  '2020/12/14'    104       132    379.3
15        60  '2020/12/15'     98       123    275.0
16        60  '2020/12/16'     98       120    215.2
17        60  '2020/12/17'    100       120    300.0
18        45  '2020/12/18'     90       112    Hello
19        60  '2020/12/19'    103       123    323.0
20        45  '2020/12/20'     97       125    243.0
21        60  '2020/12/21'    108       131    364.2
22        45           NaN    100       119    282.0
23        60  '2020/12/23'    130       101    300.0
24        45  '2020/12/24'    105       132    246.0
25        60  '2020/12/25'    102       126    334.5
26        60      20201226    100       120    250.0
27        60  '2020/12/27'     92       118    241.0
28        60  '2020/12/28'    103       132    Hello
29        60  '2020/12/29'    100       132    280.0
30        60  '2020/12/30'    102       129    380.3
31        60  '2020/12/31'     92       115    243.0

In [24]:
a = pd.read_csv("data2.csv")
b = a["Calories"].mean() #ค่าเฉลี่ย
print(b)

304.68

In [25]:
a = pd.read_csv("data2.csv")
b = a["Calories"].median() #มัฐยฐาน
print(b)

291.2

In [28]:
a = pd.read_csv("data2.csv")
b = a["Calories"].mode() #ฐานนิยม
print(b)

0    300.0
dtype: float64

In [36]:
a = pd.read_csv("data2.csv")
a["Date"] = pd.to_datetime(a["Date"]) #เรียงวันที่เป็น yyyy/mm/dd
a["Date"]

0    2020-12-01
1    2020-12-02
2    2020-12-03
3    2020-12-04
4    2020-12-05
5    2020-12-06
6    2020-12-07
7    2020-12-08
8    2020-12-09
9    2020-12-10
10   2020-12-11
11   2020-12-12
12   2020-12-12
13   2020-12-13
14   2020-12-14
15   2020-12-15
16   2020-12-16
17   2020-12-17
18   2020-12-18
19   2020-12-19
20   2020-12-20
21   2020-12-21
22          NaT
23   2020-12-23
24   2020-12-24
25   2020-12-25
26   2020-12-26
27   2020-12-27
28   2020-12-28
29   2020-12-29
30   2020-12-30
31   2020-12-31
Name: Date, dtype: datetime64[ns]

In [39]:
a = pd.read_csv("data2.csv")
a.loc[0,"Duration"] = 0 #เเทน 0 ที่คอลัม Duration ตำเเหน่ง 0
a

    Duration          Date  Pulse  Maxpulse  Calories
0          0  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [41]:
a = pd.read_csv("data2.csv")
print(a.duplicated()) #กำจัดข้อมูลที่ซ้ำซ้อน ถ้าซ้ำก็จะได้ค่า True

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool